html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    padding: 22px;
    border-radius: 8px;
    background-color: green;
}

.blue {
    padding: 22px;
    border-radius: 8px;
    background-color: blue;
}