html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    background-color: antiquewhite;
}

.mouseover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 48px;
    border-radius: 8px;
    background-color: aqua;
    font-size: 18px;
}

.secret-content {
    margin-top: 24px;
    padding: 32px;
    border-radius: 8px;
    background-color:cornflowerblue;
}